<div class="modal fade" id="addNewCCModal" tabindex="-1" aria-labelledby="addNewCCModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewCCModalLabel">Add Credit Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Add form for credit card details here -->
        </div>
      </div>
    </div>
  </div>
  