{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Terms and Conditions - Pages{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="{% url 'index' %}" class="app-brand auth-cover-brand">
    <span class="app-brand-logo demo">{% include 'partials/logo.html' with height=20 bgcolor="fill: #fff;" %}</span>
    <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">

    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-8 p-0">
      <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
        <img src="{% static 'img/illustrations/auth-register-illustration-' %}{{ COOKIES.style|default:style }}.png" alt="auth-register-cover" class="my-5 auth-illustration" data-app-light-img="illustrations/auth-register-illustration-light.png" data-app-dark-img="illustrations/auth-register-illustration-dark.png">

        <img src="{% static 'img/illustrations/bg-shape-image-' %}{{ COOKIES.style|default:style }}.png" alt="auth-register-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Register -->
    <div class="d-flex col-12 col-lg-4 align-items-center authentication-bg p-sm-12 p-6">
      <div class="w-px-400 mx-auto mt-12 pt-5">
        <h4 class="mb-1">Private Policy and Terms 🚀</h4>
        <p class="mb-6">Term And Condition </p>
        

        {% comment %} <form id="formAuthentication" class="mb-6" action="{% url 'register' %}" method="post"> {% endcomment %}
          {% csrf_token %}
          <div class="mb-6">
            <label  class="form-label"> Step 1:</label>
            <p>Data Privacy Laws. First, take the time to verify what data privacy legislation applies to your business and familiarize yourself with all guidelines and legal obligations that affect your privacy policy and practices    
            </p></div>
          <div class="mb-6">
            <label  class="form-label">Step 2:</label>
            <p>Step 2: Privacy audit. Then perform a thorough privacy audit on your platform to determine and record every piece of personal information you collect from users, including through internet cookies or other trackers</p>
            
          </div>
          <div class="mb-6">
            <label class="form-label" for="password">Step 3:</label>
            <div class="input-group input-group-merge">
                <p>Step 3: Categories of personal information. Next, determine which categories of personal data you collect under the data privacy regulations your business must follow; this may include sensitive personal information which is subject to stricter guidelines under laws like the amended CCPA and the CDPA</p>
            </div>
          </div>

          <div class="mb-6">
            
            <label class="form-label" for="password">Step 4:</label>
            <div class="input-group input-group-merge">
                <p> Why you collect personal data. You now need to determine and record your legal basis for why you collect each piece of personal data, which may be subject to legal guidelines if you fall under regulations like the GDPR</p>
            </div>
          </div>
          {% comment %} <button id="btnSubmit" class="btn btn-primary w-100" type="submit">
            <span id="btnText" class="me-1">Sign up</span>
            <span id="btnLoader" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
          </button> {% endcomment %}
        {% comment %} </form> {% endcomment %}

        <p class="text-center">
          <span>Already have an account?</span>
          <a href="{% url 'login' %}">
            <span>Sign in instead</span><br>
            <a href="{% url 'login' %}">
                <span>Back</span>
          </a>
        </p>
      </div>
    </div>
    <!-- /Register -->
  </div>
</div>
{% endblock content %}
