{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Floors{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% comment %} <script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script> {% endcomment %}


{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'js/bookings.js' %}"></script>
<script src="{% static 'js/transactions-delete.js' %}"></script>

{% endblock page_js %}

{% block content %}
<!-- DataTable with Buttons -->
<div class="card">

  
{% if messages %}
<div id="message" class="container">
{% for message in messages %}
<div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</div>
{% endif %}

  <div class="card-datatable table-responsive pt-0">
    <table class="datatables-basic table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Customer Name</th>
          <th>Slot</th> 
          <th>Price</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Created </th>
          <th>Updated</th>
          <th>Deleted</th>
          <th>Actions</th>

          
        </tr>
        <tbody>
          {% for bookings in bookings_dict %}
          <tr>
              <td></td>
              <td></td>
              
              <td>{{ bookings.bookings_customers.customers_username }}</td>
              <td>{{ bookings.bookings_slots.slots_name }}</td>
              <td>{{ bookings.bookings_price }}</td>
              <td>{{ bookings.start_date }}</td>
              <td>{{ bookings.end_date }}</td>
              <td>{{ bookings.created_ts }}</td>
              <td>{{ bookings.updated_ts }}</td>
              <td>{{ bookings.deleted_ts }}</td>
          
                <td>
                  {% if perms.bookings.delete_bookings %}
                  <a href="{% url 'bookings_delete' bookings.bookings_id %}" class="btn me-sm-3 me-1 delete-transaction" data-transaction-username="{{ bookings.bookings_customers.customers_username }}">
                    <i class="ti ti-trash ti-md"></i></a>
                    {%endif%}

                  {% if perms.avenues.change_avenues %}
                  <a href="{% url 'bookings_update' bookings.bookings_id %}" class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill" data-bs-target="#addNewAddress">
                    <i class="ti ti-pencil ti-md"></i></a>
                  {% endif %}
                </td>
            {% endfor %}
            </tr>
      </thead>
    </table>
  </div>
</div>

  <!-- Add New Address Modal -->
  <div class="modal fade" id="addNewAddress" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
      <div class="modal-content">
        <div class="modal-body ">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-6">
            <h4 class="address-title mb-2">Add New Record</h4>
           
          </div>
          {% comment %} <form id="addNewAddressForm" class="row g-6" onsubmit="return false"> {% endcomment %}

            <div class="col-12">
  
              
      <div class="container mt-5">
        
        <h2 class="mb-4">Booking Form</h2>
        <form action="/bookings/add/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          

             <div class="row g-6">
            
            <!-- Name -->
            <div class="mb-3">
                <label for="bookings_customers" class="form-label"> Customers Name</label>
                <select name="customers_id" class="form-control dt-customers-id" id="customers_id"  placeholder = "Customers Name" required>
                  <option disabled selected>Select Customers Name</option>
                  {% for customers in customers_dict %}
                 
                  <option value="{{ customers.customers_id }}">{{ customers.customers_username }}</option>
                  {% endfor %}
              </select>
                </div>
            
            <!-- plane -->
            <div class="mb-3">
                <label for="bookings_slots" class="form-label">Slot Name</label>
                <select name="slots_id" class="form-control dt-slots-id" id="slots_id" required>
                  <option disabled selected>Select Slot Name</option>
                  {% for slots in slots_dict %}
                  
                  <option value="{{ slots.slots_id }}">{{ slots.slots_name }}</option>
                  {% endfor %}
              </select>
              </div>
  
                       
            <div class="mb-3">
              <label for="bookings_price" class="form-label">Price</label>
              <input type="number" class="form-control dt-bookings_price" id="bookings_price" name="bookings_price" placeholder="Price" required>
            </div>

          <div class="mb-3">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control dt-start_date" id="start_date" name="start_date"  placeholder="Start Date" required>
          </div>

          <div class="mb-3">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" class="form-control dt-end_date" id="end_date" name="end_date" placeholder="End Date" required>
          </div>


  
            <!-- Submit Button -->
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-3">Submit</button>
              <a href="{% url 'bookings' %}" class="btn btn-secondary">Cancel</a>
            </div>
            
        </form>
    </div>
            
        </div>
      </div>
    </div>
  </div>
  
  <script>
    var addTransactionBtn = '{% if perms.bookings.add_bookings %}' + true + '{% endif %}';
    
    </script>
  
{% endblock %}
