{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Transactions{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/transactions-add-update.js' %}"></script>
<script src="{% static 'js/transactions-delete.js' %}"></script>
{% endblock page_js %}

{% block content %}


<!-- Update Transactions Form -->
{% comment %} <div class="modal fade" id="updateNewSubscriptionsPlan" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-update-new-address">
    <div class="modal-content">
      <div class="modal-body ">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-6">
          <h4 class="address-title mb-2">Update New Record</h4>
         
        </div> {% endcomment %}
        <form class="update-transaction pt-0" id="updateNewSubscriptionsPlan" action="subscriptionsplan" method="POST" enctype="multipart/form-data">
              
          {% csrf_token %}  

          <input type="hidden" name="subscriptions_plan_id" id="subscriptions_plan_id">

           <!--Subscriptionplan name -->
           <div class="row g-6">
           <div class="mb-3">
            <label for="subscriptionsplan_name" class="form-label">Subscriptions Plan name</label>
            <input type="text" class="form-control dt-subscriptionsplan-name" placeholder="Name" id="subscriptions_plan_name" value="{{ subscriptions_plan.subscriptions_plan_name }}" name="subscriptions_plan_name" required>
           
        </div>
          <!-- Description -->
          <div class="mb-3">
              <label for="subscriptionsplan_description" class="form-label"> Subscriptionplan Description</label>
              <input type="text" class="form-control dt-subscriptionsplan_description" id="description" name="description" value="{{ subscriptions_plan.description }}"placeholder="Description" required>
          </div>
          
          <!-- Price -->
          <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control dt-price" id="price" name="price"  value="{{ subscriptions_plan.price }}" placeholder="Price" required>
          </div>

          <!-- Validity -->
          <div class="mb-3">
              <label for="validity" class="form-label">Validity</label>
              <input type="number" class="form-control dt-validity" id="validity" name="validity" value="{{ subscriptions_plan.validity }}" placeholder="Validity" required>
          </div>

          <!-- due- date -->
          <div class="mb-3">
            <label for="validity" class="form-label">Due Date</label>
            <input type="date" class="form-control dt-due-date" id="due_date"  value="{{ subscriptions_plan.due_date|date:'c' }}" name="due_date" placeholder="Due Date" required>
        </div>

          <!--Status-->
          <div class="mb-3">
            <label for="floors_status" class="form-label">Status</label>
            <select id="customer-status" class="select2 form-select" name="status">
              <option value="Paid" {% if subscriptions_plan_id.status == 'Paid' %} selected {% endif %}>Paid</option>
              <option value="Due" {% if subscriptions_plan_id.status == 'Due' %} selected {% endif %}>Due</option>
              <option value="Canceled" {% if subscriptions_plan_id.status == 'Canceled' %} selected {% endif %}>Canceled</option>
            </select>
          </div>

          
        </div>

          <!-- Submit Button -->
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary me-3">Submit</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
          
      </form>
  </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--/ Update Transactions Form -->
{% endblock %}
